// Base

@use "./partials/base/reset";
@use "./partials/base/tipografia";

// Components
@use "./partials/components/header";
@use "./partials/components/general";
@use "./partials/components/footer";
@use "./partials/components/hero";
@use "./partials/components/mas-visitados";
@use "./partials/components/accordion";
@use "./partials/components/ig-posts";
@use "./partials/components/destinos";

// Utilities

@use "./partials/utilities/variables";
@use "./partials/utilities/mixins";
@use "./partials/utilities/responsive";

.logo {
  width: 150px;
}

.button {
  background-color: variables.$yellow;
  color: variables.$green;
  font-weight: bold;
  padding: 10px 20px;
  display: flex;
  width: fit-content;
  border-radius: variables.$button-radius;
  transition: ease-in-out 0.3s;

  &:hover {
    transition: ease-in-out 0.3s;
    transform: scale(1.05);
  }
}

.small {
  font-size: 12px;
}

.destino-info {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 40px;
  padding: 20px;
  text-align: center;
  p {
    font-size: 18px;
  }

  .button {
    margin: 40px auto 0;
  }
}

.destino-heading {
  margin-top: 40px;
}

.carousel img {
  max-width: 800px;
  width: 100%;
  margin: 40px auto 40px;
  display: flex;
  padding: 0 20px;
}

.lista-resenas {
  padding: 20px 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.lista-resenas__item {
  background-color: variables.$gray-bg;
}
.lista-resenas__item img {
  width: 100%;
}

.lista-resenas__item .review {
  width: 100px;
}

.lista-destinos__item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.lista-destinos__item-text .button {
  margin-top: 20px;
}

.contacto {
  max-width: 1200px;
  padding: 20px;
  background-color: variables.$gray-bg;
  margin: 40px auto 80px;

  .contacto-item {
    margin-bottom: 20px;

    input {
      margin-top: 10px;
      display: flex;
      width: 100%;
      padding: 10px;
      border: 1px solid black;
    }

    textarea {
      width: 100%;
      margin-top: 10px;
      resize: none;
    }
  }

  .button {
    border: none;
    outline: none;
  }
}
