.ig-posts {
  &-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 40px;
    gap: 10px;

    .ig-post {
      width: 100%;
      filter: grayscale(1);
      transition: filter 0.3s ease-in-out;

      img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
      }

      &:hover {
        filter: grayscale(0);
        transition: filter 0.3s ease-in-out;
      }
    }
  }
}
