@use "variables";

/* Responsive */

@media screen and (max-width: 990px) {
  .navbar-collapse {
    position: absolute;
    top: 74px;
    z-index: 1000;
    width: 100%;
    left: 0px;
    background: variables.$green;
  }

  header {
    .navbar-toggler {
      border: none;
      .navbar-toggler-icon {
        background-image: url("../../../assets/menu-toggle.png");
      }

      &:focus {
        box-shadow: none;
      }
    }

    nav {
      ul {
        gap: 10px;
        padding-bottom: 20px;

        a {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  header {
    flex-wrap: wrap;
    padding-bottom: 20px;
    justify-content: center;
  }

  .destinos-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .lista-resenas {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .lista-destinos__item {
    flex-direction: column;

    img {
      width: 100%;
    }
  }

  .lista-destinos__item.row-inverse {
    flex-direction: column-reverse;
  }

  .lista-destinos__item-right,
  .lista-destinos__item-left {
    width: 100%;
    padding: 20px;
  }

  .ig-posts-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
